	
	body {
		background-color:#FFF
	}

	#column {
    	float: right;
    	width: 10.90%;
	}

	#tudo {
		width: 100%;
		height: 992px;
		background-image: url(img/Nova.png);
	}

	#opacidade {
		opacity: 0.5;
	}

	#red{
		color: white;
	}